<div class="eltdf-full-width">
    <div class="eltdf-full-width-inner">
        <div class="eltdf-row-grid-section">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1491578710556 vc_row-has-fill eltdf-row-type-row" style="">
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="eltdf-elements-holder eltdf-responsive-mode-768">
                                <div class="eltdf-eh-item " data-item-class="eltdf-eh-custom-684697" data-1024-1280="0 0%" data-768-1024="0 0%" data-600-768="0 0%" data-480="0 0%">
                                    <div class="eltdf-eh-item-inner" style="background-image: url();background-size: cover">
                                        <div class="eltdf-eh-item-content eltdf-eh-custom-684697" style="padding: 0 12%">
                                            <div class="eltdf-item-showcase-holder clearfix eltdf-is-narrow_image">
                                                <div class="eltdf-is-item eltdf-is-left">
                                                    {% assign product = site.products[0] %}
                                                    <div class="eltdf-is-content">
                                                        <h5 class="eltdf-is-title">
                                                            {{ product.year }}
                                                        </h5>
                                                        <h4 class="eltdf-is-text" style="white-space: nowrap; font-family: Cinzel,serif;">
                                                            {{ product.title }}
                                                        </h4>
                                                        <img src="{{ product.image | relative_url }}" style="height:350px;" />
                                                    </div>
                                                </div>
                                                <div class="eltdf-is-item eltdf-is-right">
                                                    {% assign product = site.products[1] %}
                                                    <div class="eltdf-is-content">
                                                        <h5 class="eltdf-is-title">
                                                            {{ product.year }}
                                                        </h5>
                                                        <h4 class="eltdf-is-text" style="white-space: nowrap; font-family: Cinzel,serif;">
                                                            {{ product.title }}
                                                        </h4>
                                                        <img src="{{ product.image | relative_url }}" style="height:350px;" />
                                                    </div>
                                                </div>
                                                <div class="eltdf-is-image" style="margin-top: 200px">
                                                    <img width="58" height="125" src="https://vino.qodeinteractive.com/wp-content/uploads/2017/03/about-me-title-img1.png" class="attachment-full size-full" alt="a" loading="lazy">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
